# Question 1

scala> spark.version
res0: String = 3.3.2

# Question 2

In [3]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import types

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/06 16:06:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/03/06 16:06:41 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [16]:
schema = types.StructType([
    #types.StructField('hvfhs_license_num', types.StringType(), True),
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [17]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-06.csv.gz')

In [18]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [21]:
df = df.repartition(12)
df.write.mode('overwrite').parquet('fhvhv/2021/06/')
df = spark.read.parquet('fhvhv/2021/06/')
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [22]:
!ls -l --block-size=M fhvhv/2021/06

total 284M
-rw-r--r-- 1 Brian Brian  0M Mar  6 16:44 _SUCCESS
-rw-r--r-- 1 Brian Brian 24M Mar  6 16:44 part-00000-a2b24d6a-811f-41e7-9a24-fdc6600ef9ea-c000.snappy.parquet
-rw-r--r-- 1 Brian Brian 24M Mar  6 16:44 part-00001-a2b24d6a-811f-41e7-9a24-fdc6600ef9ea-c000.snappy.parquet
-rw-r--r-- 1 Brian Brian 24M Mar  6 16:44 part-00002-a2b24d6a-811f-41e7-9a24-fdc6600ef9ea-c000.snappy.parquet
-rw-r--r-- 1 Brian Brian 24M Mar  6 16:44 part-00003-a2b24d6a-811f-41e7-9a24-fdc6600ef9ea-c000.snappy.parquet
-rw-r--r-- 1 Brian Brian 24M Mar  6 16:44 part-00004-a2b24d6a-811f-41e7-9a24-fdc6600ef9ea-c000.snappy.parquet
-rw-r--r-- 1 Brian Brian 24M Mar  6 16:44 part-00005-a2b24d6a-811f-41e7-9a24-fdc6600ef9ea-c000.snappy.parquet
-rw-r--r-- 1 Brian Brian 24M Mar  6 16:44 part-00006-a2b24d6a-811f-41e7-9a24-fdc6600ef9ea-c000.snappy.parquet
-rw-r--r-- 1 Brian Brian 24M Mar  6 16:44 part-00007-a2b24d6a-811f-41e7-9a24-fdc6600ef9ea-c000.snappy.parquet
-rw-r--r-- 1 Brian Brian 24M Mar  6 16:44 part-00008-a2b24d6a-811f-41e7-9a24-fdc6600ef9ea-c000.snappy.parquet
-rw-r--r-- 1 Brian Brian 24M Mar  6 16:44 part-00009-a2b24d6a-811f-41e7-9a24-fdc6600ef9ea-c000.snappy.parquet
-rw-r--r-- 1 Brian Brian 24M Mar  6 16:44 part-00010-a2b24d6a-811f-41e7-9a24-fdc6600ef9ea-c000.snappy.parquet
-rw-r--r-- 1 Brian Brian 24M Mar  6 16:44 part-00011-a2b24d6a-811f-41e7-9a24-fdc6600ef9ea-c000.snappy.parquet

In [23]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02889|2021-06-04 20:51:44|2021-06-04 21:10:12|         239|         158|      N|                B02889|
|              B02800|2021-06-04 15:50:15|2021-06-04 16:19:29|          75|         116|      N|                  null|
|              B02510|2021-06-02 21:03:38|2021-06-02 21:10:12|         167|         168|      N|                  null|
|              B02867|2021-06-02 12:51:57|2021-06-02 13:05:09|         151|         142|      N|                B02867|
|              B02869|2021-06-21 09:51:45|2021-06-21 10:09:17|         106|          65|      N|                B02869|
|              B02764|2021-06-02 13:27:03|2021-06-02 13:38:20|         113|         148|      N|                B02764|
|              B02764|2021-06-10 14:48:23|2021-06-10 16:06:10|         250|         239|      N|                B02764|
|              B02510|2021-06-09 22:38:49|2021-06-09 23:11:58|         132|          33|      N|                  null|
|              B02510|2021-06-26 06:50:43|2021-06-26 07:00:20|         238|         244|      N|                  null|
|              B02872|2021-06-07 08:04:00|2021-06-07 08:40:25|         198|         234|      N|                B02872|
|              B02765|2021-06-24 20:19:42|2021-06-24 20:38:22|         147|          42|      N|                B02765|
|              B02884|2021-06-05 17:38:24|2021-06-05 18:05:30|         142|         232|      N|                B02884|
|              B02765|2021-06-13 15:44:27|2021-06-13 16:04:38|          26|         165|      N|                B02765|
|              B02510|2021-06-26 18:37:10|2021-06-26 18:56:01|         237|         145|      N|                  null|
|              B02764|2021-06-23 14:44:10|2021-06-23 14:58:06|          45|          33|      N|                B02764|
|              B02510|2021-06-20 02:11:32|2021-06-20 02:22:00|          49|          37|      N|                  null|
|              B02764|2021-06-29 19:02:50|2021-06-29 19:05:25|         140|         140|      N|                B02764|
|              B02875|2021-06-02 15:27:05|2021-06-02 15:37:27|          32|         185|      N|                B02875|
|              B02882|2021-06-18 12:48:43|2021-06-18 12:58:22|          95|         134|      N|                B02882|
|              B02510|2021-06-23 08:59:54|2021-06-23 09:44:49|         171|         140|      N|                  null|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

# Question 3

In [24]:
df.registerTempTable('trips_data')

In [25]:
spark.sql("""
SELECT
    count(1)
FROM
    trips_data
WHERE
    CAST(pickup_datetime as DATE) = '2021-06-15'
""").show()

+--------+
|count(1)|
+--------+
|  452470|
+--------+

# Question 4

In [27]:
spark.sql("""
SELECT
    MAX(unix_timestamp(dropoff_datetime)-unix_timestamp(pickup_datetime)) / 3600
FROM
    trips_data
WHERE
""").show()

+----------------------------------------------------------------------------------------------------------------------------+
|(max((unix_timestamp(dropoff_datetime, yyyy-MM-dd HH:mm:ss) - unix_timestamp(pickup_datetime, yyyy-MM-dd HH:mm:ss))) / 3600)|
+----------------------------------------------------------------------------------------------------------------------------+
|                                                                                                            66.8788888888889|
+----------------------------------------------------------------------------------------------------------------------------+

# Question 6

In [28]:
df_zones = spark.read.parquet('zones/')

In [29]:
df_zones.registerTempTable('zones')

In [30]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [32]:
spark.sql("""
SELECT
    zones.Zone,
    COUNT(1) as trips
FROM
    trips_data
INNER JOIN
    zones
ON
    trips_data.PULocationID = zones.LocationID
GROUP BY
    zones.Zone
ORDER BY 
    trips DESC
""").show()

+--------------------+------+
|                Zone| trips|
+--------------------+------+
| Crown Heights North|231279|
|        East Village|221244|
|         JFK Airport|188867|
|      Bushwick South|187929|
|       East New York|186780|
|TriBeCa/Civic Center|164344|
|   LaGuardia Airport|161596|
|            Union Sq|158937|
|        West Village|154698|
|             Astoria|152493|
|     Lower East Side|151020|
|        East Chelsea|147673|
|Central Harlem North|146402|
|Williamsburg (Nor...|143683|
|          Park Slope|143594|
|  Stuyvesant Heights|141427|
|        Clinton East|139611|
|West Chelsea/Huds...|139431|
|             Bedford|138428|
|         Murray Hill|137879|
+--------------------+------+
only showing top 20 rows