In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.3'

In [3]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [5]:
from sqlalchemy import create_engine

In [13]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [14]:
engine.connect()

In [15]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [67]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv.gz', iterator=True, chunksize=100000)

In [68]:
print(df_iter)

<pandas.io.parsers.readers.TextFileReader object at 0x141615a10>

In [69]:
df = next(df_iter)

In [70]:
df.head(0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [71]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 3.9 s, sys: 85.1 ms, total: 3.98 s
Wall time: 8.33 s

1000

In [72]:
from time import time

In [73]:
while True:
    t_start = time()
    df = next(df_iter)
    
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print(f'inserted another chunk..., took {t_end - t_start} seconds')

inserted another chunk..., took 8.557358741760254 seconds
inserted another chunk..., took 8.458272218704224 seconds
inserted another chunk..., took 8.508302211761475 seconds
inserted another chunk..., took 8.502433061599731 seconds
inserted another chunk..., took 8.698142051696777 seconds
inserted another chunk..., took 2.6758809089660645 seconds

StopIteration:

In [42]:
df_iter = pd.read_csv('taxi+_zone_lookup.csv', iterator=True, chunksize=100000)

In [43]:
df = next(df_iter)

In [44]:
df.head(0).to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace')

0

In [45]:
%time df.to_sql(name='taxi_zone_lookup', con=engine, if_exists='append')

CPU times: user 6.24 ms, sys: 1.5 ms, total: 7.74 ms
Wall time: 22 ms

265

In [46]:
while True:
    t_start = time()
    df = next(df_iter)
    
    #df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    #df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='taxi_zone_lookup', con=engine, if_exists='append')
    
    t_end = time()
    
    print(f'inserted another chunk..., took {t_end - t_start} seconds')

StopIteration:

In [58]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
100000,2,2019-01-06 10:00:46,2019-01-06 10:07:18,N,1,7,226,1,1.23,7.0,0.0,0.5,0.00,0.0,NaN,0.3,7.80,2,1,NaN
100001,2,2019-01-06 09:40:04,2019-01-06 10:22:02,N,1,69,133,5,17.90,54.0,0.0,0.5,0.00,0.0,NaN,0.3,54.80,1,1,NaN
100002,2,2019-01-06 09:28:20,2019-01-06 09:36:26,N,1,181,49,1,1.52,7.5,0.0,0.5,0.00,0.0,NaN,0.3,8.30,1,1,NaN
100003,2,2019-01-06 09:09:26,2019-01-06 09:10:29,N,1,7,7,1,0.48,3.5,0.0,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
100004,1,2019-01-06 09:08:09,2019-01-06 09:18:53,N,1,41,142,1,2.90,11.5,0.0,0.5,2.45,0.0,NaN,0.3,14.75,1,1,NaN